<div class="container-fluid" id="img-bg">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastrar</h1>
                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input [(ngModel)]="user.nome" class="form-control shadow rounded" type="text" name="nome" id="nome" placeholder="Seu nome completo">
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuárie</label>
                        <input [(ngModel)]="user.usuario" class="form-control shadow rounded" type="text" name="usuario" id="usuario" placeholder="Seu usuárie">
                    </div>
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input [(ngModel)]="user.email" class="form-control shadow rounded" type="email" name="email" id="email" placeholder="Seu email">
                    </div>
                    <label for="senha">Senha</label>
                    <input (input)="confirmSenha($event)" type="password" name="senha" id="senha" class="form-control shadow rounded" placeholder="Sua senha"
                        aria-describedby="passwordHelpBlock">
                    <!-- <small id="passwordHelpBlock" class="form-text text-muted mb-2">
                        Sua senha deve ter entre 8 e 20 caracteres, os quais devem ser letras e números, sem espaços, caracteres especiais ou emojis.
                    </small> -->
                    <div class="form-group">
                        <label for="confirmsenha">Confirmar Senha</label>
                        <input [(ngModel)]="user.senha" class="form-control shadow rounded" type="password" name="confirmsenha" id="confirmsenha"
                            placeholder="Confirme sua senha">
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control shadow rounded" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>Selecione um tipo de usuário:</option>
                            <option value="Aluno">Aluno</option>
                            <option value="Responsável">Responsável</option>
                            <option value="Professor/Mentor">Professor ou Mentor</option>
                        </select>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn mr-2" routerLink="/login">Cancelar</button>
                            <button type="submit" class="btn btn-outline-info shadow rounded" (click)="cadastrar()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>