<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Edunity.jpg" class="d-block w-60" alt="Foto-Provisória">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: #2b3d7f;">Sobre a Edunity</h2>
                <p class="dimensao padding" style="color: #5a73cc;">Edunity é uma rede social que zela pela educação de
                    qualidade. Cremos que a solução é educar nossas
                    crianças, que tomarão nosso lugar como protagonistas do mercado de trabalho, no consumo e em outros
                    âmbitos que fazem uso ou não de nossos recursos e mentorear os jovens que estão prestes a assumir
                    esse papel. É necessário mostrar que o simples fato de se guardar dinheiro pode ter impacto na
                    economia, que o consumo inteligente pode se tornar sim um hábito pensando em sustentabilidade e
                    preservação.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/Edunity.jpg" class="d-block w-60" alt="Foto-Provisória">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: #2b3d7f;">Educação + Comunidade</h2>
                <p class="dimensao padding" style="color: #5a73cc;">A Edunity promove e incentiva uma rede de apoio com
                    um repertório de conteúdo rico, compartilhado por professores e educadores voluntários através de
                    mídias comuns no nosso dia-dia e que esse software contribua também como uma rede de apoio para as
                    crianças, trazendo uma gamificação para estimular os estudos e o consumo de material, e para os
                    jovens cujos mentores voluntários vão "Apadrinhar" para tentar mostrar o que tem de melhor e pior em
                    determinada área do mercado, dando a oportunidade do estudante avaliar seu interesse no setor em
                    questão.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/Edunity.jpg" class="d-block w-60" alt="Foto-Provisória">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: #2b3d7f;">Qualidade e Segurança</h2>
                <p class="dimensao padding" style="color: #5a73cc;">Buscamos os melhores parceiros para compor nossa
                    plataforma. Quanto aos voluntários, é necessário uma série de comprovações como meio de segurança de
                    que esse professor ou mentos é realmente uma fonte confiável sobre as informações que futuramente
                    irá compartilhar. A Edunity é uma rede de apoio, portanto nosso incentivo é emitir certificados de
                    mentoria e de ensino voluntário, em contrapartida, o incentivo dos nossos parceiros é formar bons
                    profissionais para futuramente serem contratados.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<!-- sobre os desenvolvedores -->

<div>
    <h1 class="d-flex justify-content-center">Hello Word</h1>
    <h2 class="d-flex justify-content-center">Sobre os desenvolvedores</h2>
</div>
<div class="centralizar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus ducimus repudiandae fuga in corporis
        magni vero labore eaque necessitatibus, tempore nostrum? Sapiente, saepe nam accusantium eum quidem fuga.
        Assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque totam ut cupiditate odio dolor
        sed aut eligendi autem. Temporibus laudantium nulla sed, ab consequatur consequuntur dolorem natus incidunt
        repellendus est.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus ducimus repudiandae fuga in corporis
        magni vero labore eaque necessitatibus, tempore nostrum? Sapiente, saepe nam accusantium eum quidem fuga.
        Assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque totam ut cupiditate odio dolor
        sed aut eligendi autem. Temporibus laudantium nulla sed, ab consequatur consequuntur dolorem natus incidunt
        repellendus est.</p>
</div>




<!-- Mariana -->
<div class="dimensao">
    <img src="../../assets/Mariana.jpg" alt="foto Mariana">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Mariana Piccolo</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>

<!-- Thalita -->

<div class="dimensao">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Thalita Oliveira</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
    <img src="../../assets/Thalita.jpg" alt="foto Thalita">

</div>

<!-- Rafael -->

<div class="dimensao">
    <img src="../../assets/Rafael.jpg" alt="foto Rafael">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Rafael Momberg</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>

<!-- Leonardo -->

<div class="dimensao">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Leonardo Nogueira</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
    <img src="../../assets/Leonardo.jpg" alt="foto Leonardo">
</div>

<!-- Sérgio -->

<div class="dimensao">
    <img src="../../assets/Sérgio.jpg" alt="foto Sérgio">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Sérgio Duarte</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>