<nav class="navbar navbar-expand-lg navbar-light fundo sticky-top">
    <a routerLink="/login">
        <img class="img-fluid mr-2 imagem1" src="../../assets/img/LogoEdunityFundoClaro.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <ul class="navbar-nav ml-auto d-flex align-items-center">

            <li class="nav-item pl-3">
                <button class="btn my-2 my-sm-0" type="submit" routerLink="/login">Fazer Login</button>
            </li>
            <li class="nav-item pl-3">
                <button class="btn my-2 my-sm-0" type="submit" routerLink="/cadastrar">Cadastrar</button>
            </li>

        </ul>

    </div>
</nav>
<div class="dimensao">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/img/imgCarrosel-01.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/imgCarrosel-02.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/imgCarrosel-03.png" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>
<div class="caixa1">
    <div class="conteudo-titulo">
        <span class="titulo">Desenvolvedores </span>
        <div>
        </div>
    </div>
</div>

<div class="conteudo">
    <div class="dimensao">
        <img src="../../assets/img/WhatsApp Image 2021-04-12 at 14.26.34.jpeg" alt="foto Mariana">
        <div>
            <h2 class="dimensao">Mariana Picoli de Carvalho</h2>
            <p class="dimensao paddingtext">
                Formada em Geofísica pela USP. Cursando Economia e Ciência de Dados. Afinidade com ciências exatas e
                econômicas. Tenho interesse em mercado financeiro e tecnologia. Gosto de ler sobre investimentos e
                aprender idiomas.
            </p>
        </div>
    </div>
</div>
<div class="caixa2">
</div>

<div class="conteudo">
    <div class="dimensao">
        <img src="../../assets/img/WhatsApp Image 2021-04-12 at 14.26.24.jpeg" alt="foto Rafael Momberg">
        <div>
            <h2 class="dimensao">Rafael Momberg de Andrade</h2>
            <p class="dimensao paddingtext">
                Eu sou uma pessoa pacífica e de fácil convívio, gosto de me comunicar para ajudar colegas e familiares.
                Amo tecnologia, natureza e tudo que seja criativo e interessante. Estou sempre pronto para aprender
                coisas novas e aberto a mudanças.
                Vejo na tecnologia uma forma de ajudar as pessoas e uma ferramenta para expor minha criatividade.
            </p>
        </div>
    </div>
</div>

<div class="caixa3">
</div>

<div class="conteudo">
    <div class="dimensao">
        <img src="../../assets/img/SergioCarvalho.jpg" alt="foto Mariana">
        <div>
            <h2 class="dimensao">Sérgio Duarte de Carvalho Dias</h2>
            <p class="dimensao paddingtext">
                Experiente em automatizar planilhas e formulários em Excel.
                Agora treinando com novas ferramentas de programação, com intenção de contribuir ainda mais em futuros
                projetos.
                Tenho uma ótima organização profissional.
                Tenho bastante histórico com tecnologia e ferramentas virtuais, gosto de comparar que tenho mais
                facilidade com Teclado e mouse do que papel e caneta.
            </p>
        </div>
    </div>
</div>
<div class="caixa4">
</div>
<div class="conteudo">
    <div class="dimensao">
        <img src="https://i.imgur.com/TYgud2Q.jpg" alt="foto Sérgio">
        <div>
            <h2 class="dimensao">Thalita Oliveira Silva</h2>
            <p class="dimensao paddingtext">
                Já trabalhei com atendimento ao cliente, tenho 5 anos de experiência nessa função, trabalhando com isso
                pude desenvolver minhas habilidades de trabalho em grupo atingindo metas, ganhando prêmios e pude
                contribuir com a empresa com ideias que foram implementadas.
                Fiz faculdade de administração quando eu tinha 13 anos fiz um curso de informática aonde aprendi design
                e pacote office foi aonde eu me apaixonei pela ideia de criar sites e softwares. Agora faço faculdade de
                sistema de informação que sempre foi o meu sonho e objetivo.
            </p>
        </div>
    </div>
</div>
<div class="caixa5 mb-0">
</div>
<div class="conteudo">
    <div class="dimensao">
        <img src="../../assets/img/leonardo.jpg" alt="foto Sérgio">
        <div>
            <h2 class="dimensao">Leonardo Nogueira de Souza</h2>
            <p class="dimensao paddingtext">
                Uma pessoa que acredita que o crescimento é ilimitado!
                Sempre trabalho fazendo o meu melhor, crendo que o aprimoramento é sempre possível e que às vezes é
                necessário esforço extra para determinados assuntos.
                Apesar de estar formado na área da mecânica, assuntos como design, marcas, mindset, empreendedorismo e
                mercado financeiro também me fascinam e são assuntos que venho estudando autonomamente já há algum
                tempo.
                Alguns desses caminhos autônomos me levaram para a área de tecnologia, que também me despertou enorme
                interesse, pois acredito que está é uma área promissora e repleta de bons propósitos.

            </p>
        </div>
    </div>
</div>
<div class="caixa6 mb-0">
</div>