<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/imgCarrosel-01.png" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/imgCarrosel-02.png" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/imgCarrosel-03.png" alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>



<!-- sobre os desenvolvedores -->

<div>
    <h1 class="d-flex justify-content-center">Hello Word</h1>
    <h2 class="d-flex justify-content-center">Sobre os desenvolvedores</h2>
</div>
<div class="centralizar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus ducimus repudiandae fuga in corporis
        magni vero labore eaque necessitatibus, tempore nostrum? Sapiente, saepe nam accusantium eum quidem fuga.
        Assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque totam ut cupiditate odio dolor
        sed aut eligendi autem. Temporibus laudantium nulla sed, ab consequatur consequuntur dolorem natus incidunt
        repellendus est.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus ducimus repudiandae fuga in corporis
        magni vero labore eaque necessitatibus, tempore nostrum? Sapiente, saepe nam accusantium eum quidem fuga.
        Assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque totam ut cupiditate odio dolor
        sed aut eligendi autem. Temporibus laudantium nulla sed, ab consequatur consequuntur dolorem natus incidunt
        repellendus est.</p>
</div>




<!-- Mariana -->
<div class="dimensao">
    <img src="../../assets/Mariana.jpg" alt="foto Mariana">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Mariana Piccolo</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>

<!-- Thalita -->

<div class="dimensao">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Thalita Oliveira</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
    <img src="../../assets/Thalita.jpg" alt="foto Thalita">

</div>

<!-- Rafael -->

<div class="dimensao">
    <img src="../../assets/Rafael.jpg" alt="foto Rafael">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Rafael Momberg</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>

<!-- Leonardo -->

<div class="dimensao">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Leonardo Nogueira</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
    <img src="../../assets/Leonardo.jpg" alt="foto Leonardo">
</div>

<!-- Sérgio -->

<div class="dimensao">
    <img src="../../assets/Sérgio.jpg" alt="foto Sérgio">
    <div>
        <h2 class="dimensao" style="color: #2b3d7f;">Sérgio Duarte</h2>
        <p class="dimensao" style="color: #5a73cc;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima optio corporis, quidem soluta nam
            aliquam labore mollitia sapiente maiores, unde voluptatibus itaque quas accusantium? Suscipit consequuntur
            sit facilis ad?
        </p>
    </div>
</div>