.centralizar {
    text-align: center;
 }

 .dimensao {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
 }

 .padding {
     padding: 100px;
 }

 .paddingtext {
     padding: 30px;
 }

 .direita{
     text-align: end;
 }