<hr style="background-color: black;">

<footer class="page-footer font-small">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="lista">
          <li>
            <a href="" target="_blank">Sobre</a>
          </li>

          <li>
            <a href="" target="_blank">Contrato de usuário</a>
          </li>

          <li>
            <a href="" target="_blank">Privacidade</a>
          </li>

          <li>
            <a href="" target="_blank">Cookies</a>
          </li>

          <li>
            <a href="" target="_blank">Enviar feedback</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center">
    <span> Edunity ©2021. Todos os direitos reservados. </span>
    <a class="text-light" target="_blank" href="https://brasil.generation.org"></a>
  </div>


</footer>