<footer class="page-footer text-muted">
  <hr class="my-2 fundo" >
  <div class="container">
    <div class="row">      
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="lista mb-2">
          <li>
            <a routerLink="/sobre" target="_blank">Sobre</a>
          </li>
          <li>
            <a href="" target="_blank">Contrato de usuário</a>
          </li>
          <li>
            <a href="" target="_blank">Privacidade</a>
          </li>
          <li>
            <a href="" target="_blank">Cookies</a>
          </li>
          <li>
            <a href="" target="_blank">Enviar feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center mb-2">
    Edunity ©2021. Todos os direitos reservados.
  </div>
</footer>