<div class="top-145 container-fluid center-block">
  <div class="row d-flex justify-content-center align-items-center">
    <!--Imagem-->
    <div class="col-md-2">

      <img src="../../assets/img/Rectangle 5.png" alt="Logo Edunity">

    </div>



    
    <!--/Imagem-->

    <!--Formulário-->
    <div class="col-md-3">
      <form>
        <div class="form-group" class="m-0 font-weight-bold">
          <label for="usuario" class="fs-24">Entrar</label>
          <input
            type="text"
            class="form-control fs-16 l-entrar"
            id="usuario"
            placeholder="Usuárie"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input
            type="password"
            class="form-control fs-16 l-entrar"
            id="exampleInputPassword1"
            placeholder="Senha"
          />
          <p class="fs-16"><a href="#">Esqueceu sua Senha?</a></p>
        </div>
        <button type="submit" class="btn btn-primary fs-16 btn-block button">
          Entrar
        </button>
        <br /><br />
        <p class="fs-16 d-flex justify-content-center">
          Novo no Edunity?<a class="ml-2" href="#">Cadastre-se</a>
        </p>
      </form>
    </div>
    <!--/Formulário-->
  </div>
</div>
