<footer class="page-footer text-muted">
  <div class="container mt-3">
    <div class="row">      
      <div class="col-md-12">
          <div class="row d-flex justify-content-center">
            <a routerLink="/sobre" target="_blank">Sobre</a>
            <a href="" target="_blank">Contrato de usuário</a>
          </div>
          <div class="row d-flex justify-content-center">
            <a href="" target="_blank">Enviar feedback</a>
            <a href="" target="_blank">Privacidade</a>
          </div>
          <div class="row d-flex justify-content-center">
            <a href="" target="_blank">Cookies</a>
          </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center my-2">
    Edunity ©2021. Todos os direitos reservados.
  </div>
</footer>
